html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
	height: 100%;
}

body {
	position:relative;
}
.mainDiv {
  border: 2px solid black;
  height: 400px;
  width: 500px;
  background: white;
  margin: 15px auto 0;

  .title {
    font-weight: bold;
    font-size: 20px;
  }

  .hasController {
    border: 2px solid dimgrey;
    background: #F3F3F3;
    margin: 10px 5px;

    .saveButton{
      clear: both;
      background: none;
      font-size: smaller;
      border: 2px solid black;
      border-radius: 5px;
      outline: none;
      margin: 15px auto;
      width: 50px;
      height: 35px;
      display: block;
    }
  }
  .row{
    clear: both;
    overflow: hidden;
    .data {
      width: 50%;
      padding: 20px 25px;
      float: left;
    }
  }
}


