html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

$dateColor: grey;
$running: green;
$stopped: orange;
$error: red;
$buttonColor: #E8E8E8;
$draft: grey;


html, body {
	height: 100%;
}

body{
	position:relative;
}

.date{
	color: $dateColor;
}


//
//.header{
//  	padding-left: 50px;
//  	padding-top: 30px;
//  	padding-bottom: 20px;
//  	float: left;
//}


.button{
  font-size: smaller;
  background: $buttonColor;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
}




.header-row{
  $height: 30px;
  overflow: hidden;
  margin: 30px 50px;
  line-height: $height;

  .main-head{
    color: blue;
    //line-height: 20px;
  }

  .header-data{
    margin: 0px 50px;
  }
  .headers-left{
    float: left;

  }
  .headers-right{
    float: right;

    .clear-filter{
      width: 100px;
      height: $height;
    }
    .filter {
      border: 2px solid black;
      border-radius: 5px;
      width: 150px;
      height: $height;
      outline: none;
      font-size: smaller;
      padding: 0px 5px;
    }
  }

}

.main-div{
	border: 3px solid black;
	position: absolute;
	width: 100%;
	//top: 50%;
	//transform: translateY(-50%);
}
.table-container{
	padding: 40px;
	background: #E8E8E8;
	//height: 300px;
	clear: both;
    &>.title {
      .table-data{
        font-weight: bold;
      }
    }
	&>.table-row {
		clear: both;
		overflow: hidden;
		&:nth-child(odd){
			background: white;
		}
		.table-data{
          padding: 10px 25px;
          width: 12.5%;
          float: left;
          &.status {
            width: 40%;
          }
          &.running {
            color: $running;
          }
          &.stopped {
            color: $stopped;
          }
          &.error {
            color: $error;
          }
          &.draft {
            color: $draft;
          }
          & > .tableDataButtons {
            width: 70px;
            height: 30px;
          }
          & > .infoLink {
            color: cornflowerblue;
          }
        }
	}
}
